.idea
api/*
webmail/*
config/*
productos/*
almacenes/*
documentos/*
dispositivos/*
grh/*
cuentas/*
clientes/*
proxy/*
!proxy/control.txt
config.yml
composer.lock
vendor

###> docker ###
.docker/data/*
###< docker ###
